body {
  overflow-x: hidden;
}

small {
  opacity: 0.7;
}

.responsive-table {
  overflow-x: auto;
  margin-top: 2rem;
}

table code,
.responsive-table td {
  white-space: nowrap;
}

@media (min-width: 768px) {
  .responsive-table td {
    white-space: normal;
  }
}

table:not(.mx-auto) {
  width: 100%;
}
